<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li><a href="/">home</a></li>
      <li><a class="btn btn-default start-btn">START</a></li>
      <li><a class="btn btn-default stop-btn">STOP</a></li>
    </ul>

    <%= form_for @room do %>
      <div class="form-group">
        <label class="sr-only" for="inputTimer">Timer</label>
        <input type="text" class="form-control" name="timer" id="inputTimer" value="<%= @room.timer %>" placeholder="Enter timer (mm:ss)">
      </div>
      <button class="btn btn-default btn-block" type="submit">update</button>
    <% end %>
  </div>

  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="jumbotron">
      <h1 class="timer-countdown"><%= @room.timer %></h1>
    </div>
  </div>
</div>

<script>
  var render_countdown = function(sec) {
    var str = Math.floor(sec/60) + ':';
    if (sec % 60 < 10) {
      str += '0' + (sec % 60);
    } else {
      str += (sec % 60);
    }
    $('.timer-countdown').html(str);
  };

  var ajaxSettings = {
    url: '<%= room_path(@room, format: 'json') %>',
    async: true,
    dataType: 'json',
    success: function(data, dataType) {
      if (data.started_at && data.countdown_sec >= 0) {
        timer.countdown = data.countdown_sec;
        start();
      } else {
        stop();
      }
    },
    error: function(data, dataType) {
    }
  };

  var timer = {};

  var countdown = function() {
    render_countdown(timer.countdown);
    if (timer.countdown == 0) {
      stop();
      alert('done');
    }
    if (timer.countdown < 0) {
      stop();
    }
    timer.countdown -= 1;
  }

  var start = function() {
    stop();
    countdown();
    timer.interval = setInterval(countdown, 1000);
  };

  var stop = function() {
    if (timer.interval) {
      clearInterval(timer.interval);
    }
  }

  var sync = function() {
    $.ajax(ajaxSettings);
  };

  $(document).ready(function() {
    sync();
    setInterval(sync, 10 * 1000);

    $('.start-btn').on('click', function() {
      $.post('<%= start_room_path(@room) %>', {}, function() {
        location.reload();
      });
    });

    $('.stop-btn').on('click', function() {
      $.post('<%= stop_room_path(@room) %>', {}, function() {
        location.reload();
      });
    });
  });
</script>
